
</div>
<div class="footer-padding"></div>
  <div class="col-sm-3">
    <a
    class="link"
    href="https://github.com/AbhiRam0099/gdp"
    >source Repo</a>
  </div>
  <div class="col-sm-3">
    <a
      class="link"
      href="https://github.com/AbhiRam0099/Proposal4A/blob/main/Proposal.md"
      target="_blank"
    >
      Proposal</a
    >
  </div>
  <div class="col-sm-3">
    <a
      class="link"
      href="https://github.com/AbhiRam0099/Proposal4A/projects/1"
      target="_blank"
      >Work Plan</a
    >
  </div>

  <div class="col-sm-3 link">Group: 4A</div>
</div>
<style scoped>
  .col-sm-3 {
    float: left;
    font-size: 0.9rem;
    text-align: center;}
    
  
  .link {
    text-decoration: none;
    color: #363233;
  }
  .link:hover {
    color: #007bff;
  }
 
  
  </style>

    

    

  </div>  
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
