
</div>
<div class="footer-padding"></div>
<div class="footer">

  <p>© Copyright 2021 Feature Location</p>

  <div class="col-sm-3">
    <a
    class="link"
    href="https://github.com/AbhiRam0099/gdp"
    >source Repo</a>
  </div>
  <div class="col-sm-3">
    <a
      class="link"
      href="https://github.com/AbhiRam0099/Proposal4A/blob/main/Proposal.md"
      target="_blank"
    >
      Proposal</a
    >
  </div>
  <div class="col-sm-3">
    <a
      class="link"
      href="https://github.com/AbhiRam0099/Proposal4A/projects/1"
      target="_blank"
      >Work Plan</a
    >
  </div>

  <div class="col-sm-3 link">Group: 4A</div>
</div>
<style scoped>
  .col-sm-3 {
    float: left;
    text-align: center;}
    
  
  .link {
    text-decoration: none;
    color: #FFFFFF	;
  }
  .link:hover {
    color: #000000	;
  }
 
  
  </style>

    
    

</div>

</body>
</html>
