<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="../images/favicon-16x16.png"/> 

  <title>4A</title>

  <meta charset="utf-8">
 
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head> 
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Feature Location</p>       
          <img src="../images/NorthwestLogo.png" width="70" height="70" class="d-inline-block align-top" alt="">      
      </div>
        <ul class="nav navbar-right">
          <!-- 6 -->
          <li id="item"><a href="/">HOME</a></li>  
          <li id="item"><a href="/about">ABOUT</a></li>
          <li id="item"><a href="/contact">CONTACT</a></li>      
          <a href="/login">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="login">Login</button> </a>
           
        </ul>
    </div>
  </nav>

  <body >
    <div class="container">
