<%- include("partials/header") -%>
<div class="home-image">
  <div class="row container d-flex justify-content-center" >
    <div class="col-xl-6 col-md-12 ">
      <div class="card" >
        <div class="card-body">
          <h1 style="text-align: center">Colden Pond</h1>
          <img class="card-img-top" src="../images/coldenpond.jpg" alt="Card image cap">
          <p class="card-text">Colden Pond was not always known as Colden Pond. 
            It was originally called Lamkin Lake after Northwest President Uel Lamkin, who led Northwest from 1921 to 1945, and who was inspired to construct the water feature.</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="details">

    <a href="/list"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="details">click for more !</button>     </a>

  </div>
  </div>
  <%- include("partials/footer") -%>