<%- include("partials/header") -%>
<div class="home-image">
  <div class="row container d-flex justify-content-center" >
    <div class="col-xl-6 col-md-12 ">
      <div class="card" >
        <div class="card-body">
          <h1 style="text-align: center">Colden Pond</h1>
          <img class="card-img-top" src="../images/coldenpond.jpg" alt="Card image cap">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="details">
    <a href="/list"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="details">click for more !</button>     </a>
  </div>
  </div>
  <%- include("partials/footer") -%>