.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {

    color: #1abc9b !important;
}

#item{
    margin-right: 20px;
}
main{
    width:90ww;
    margin: 0 auto;
    padding: 30px,20px;
    min-height: calc(100vh- 86px - 100px);
}

.footer-padding {
	padding-bottom: 100px;
}

.footer {
	position: relative;
	text-align: center;
	margin-top: 100px;
	height: 80px;
    clear:both;
   
  color: #fff;
	background-color: #1abc9c;
}
.footer{
    position: fixed;
    padding: 15px 15px 15px 15px;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: #1abc9c;
    
}




.footer-icon{
    
    margin: 20px 10px;
}
.btn{
    margin-top: 2px;
}

.card-img-top{
    width: 50;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top:10px;
}

body {
text-align: center; 
}

.details{
    position:center;
    /* align-content: ; */
}

.home-image{
    padding-top: 30px;
}